<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>

  <title><%= @title %></title>

  <!-- Include the CSS -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag controller_name if Rails.application.assets.find_asset("#{controller_name}.css") %>
  <%= csrf_meta_tags %>

  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

</head>

<% if session[:user_email] && cookies[:create_new] == 0 %>
  <%= render 'layouts/header' %>
<% end %>

<%= yield %>

<!-- Include jQuery (required) and the JS -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag controller_name if Rails.application.assets.find_asset("#{controller_name}.js") %>

<% if session[:user_email] && cookies[:create_new] == 0 %>
  <%= render 'layouts/footer' %>
<% end %>

</body>
</html>
